:root{
    --black:rgb(27, 27, 27);
    --white:#fff;
    --pink:rgb(255, 255, 255);
    --deeppink:#B34180;
}
.CategoriesItemspage{
    /* background-color: turquoise; */

    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.CategoriesItemsContainer{
    /* background-color:red; */
    width: 90%;
    height: 100%;
    margin:auto;
}
.CategoriesItemsContainerContent{
    background-color:var(--white);
    box-shadow: 0px 0px 3px 3px rgba(75, 75, 75, 0.425);

    width: 100%;
    height: 70vh;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.CategoriesItemsContentDivider{
/* background-color:yellowgreen; */
height: 60%;
line-height: 2;
}
.CategoriesItemsContentDivider:last-child{
height: 30%;
}
.CategoriesItemsImg{
    background-color: var(--white);
   width: 100%;
   height: 100%;
    /* background-image: url(../firstpage/img/gift.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}

.CategoriesItemsContent{
    width: 100%;
    height: 100%;
display:flex;
flex-direction:column;
justify-content:space-around;
}
.CategoriesItemsDividerContent{
    /* background-color:rgb(78, 50, 205); */
flex-basis: calc(33% - 2px);
font-size:20px;
margin: auto ;
display:flex;
flex-direction:row;
text-align:center;
justify-content:space-evenly;



}

.CategoriesItemsDividerContent div i{
    color:rgb(230, 227, 229);
    background-color:rgb(51, 51, 51);
    border-radius: 20px;
    width: 40px;
    height: 40px;
margin:10px;
    padding:9px;
    text-align:center;
    

}
.CategoriesItemsDividerContent div i:hover{
    background-color:rgb(255, 140, 194);
}
.CategoriesItemsDividerContent h4{
    text-align:center;
}
@media screen and (min-width:1000px){
    .CategoriesItemspage{
        /* background-color: turquoise; */
    
   
        
    }
    .CategoriesItemsContainer{
        /* background-color:red; */
       display: flex;
       flex-direction:row;
       justify-content:space-between;
       flex-wrap: wrap;
       width: 90%;
       
    }
    .CategoriesItemsContainerContent{
        width: 30%;
        margin:10px;
    }

}